<nav class="navbar navbar-inverse" role="navigation">
<div class="navbar-inner">
	<ul class="nav navbar-nav">
		<li><a id="homeLink" href="/">Главная</a></li>

		<% if (self) { %>
		<li><a id="usersLink" href="/users">Радиослушатели</a></li>
		<% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right: 0">
		<% if (self) {%>
		<li><a href="/user/<%- self._id %>"><%- self.username %></a></li>
		<li><a href="/log" id="logoutHref">Выйти</a></li>
		<% } else {%>
		<li><a id="loginLink" href="/login">Войти</a></li>
		<li><a id="regLink" href="/registration">Регистрация</a></li>
		<% } %>
	</ul>
</div>
</nav>