<% if (!ajax) {layout('./layout/page')}; -%>
<% block('title', 'Chat'); %>

<p class='lead'>Здесь будет чат</p>
<div id="room">
	<ul></ul>
	<form>
		<input class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
	</form>
</div>
