<% if (!ajax) {layout('./layout/page')} -%>
<% block('title', 'Radio W'); %>

<p class='lead text-center'>Добро пожаловать!</p>
<p>Здравствуй мой маловероятный посетитель! Позволь немного рассказать о себе.<br>Я - молодой, строящийся веб ресурс. Моя цель - быть маленьким и тихим уголком интернета, где ты сможешь комфортно провести время в компании великолепной музыки и своих друзей.<br>К сожалению, моя разработка процесс очень трудозатратный, а команда моих разработчиков весьма немногочисленна, но, возможно, ты - именно тот, кто может мне помочь! Если ты разработчик, дизайнер, верстальщик или просто идейный человек от всей души желающий помочь мне вырасти в серьезный проект - пиши вот на этот электронный адресс <strong>the.betrayer64@gmail.com</strong>, серьезно, мне пригодится любая помощь! Если же ты не готов заниматься разработкой, но, все равно, очень хочешь помочь - пожалуйста, зарегистрируйся и попробуй протестировать мой функционал. Наверняка, у тебя найдется пара идей или советов, которые ты можешь дать моим разработчикам!<br>Несмотря на мое амбициозное имя, мой функционал пока не столь велик и работаю я, скроее всего, в тестовом режиме. Но ты можешь вести свой блог, обмениваться личными сообщениями с другими пользователями, (грабить корованы... шучу, пока не можешь) загружать и комментировать фоторафии.<br>Большое спасибо за внимание, чувствуй себя как дома!</p>

<script>
</script>
