<% if (!ajax) {layout('./layout/page')} -%>
<% block('title', "Регистрация") %>

<form class="form-horizontal registration-form" name="registration-form" autocomplete="off">
	<div class="form-group">
		<label for="input-username" class="col-xs-2 col-xs-offset-2 control-label">Имя пользователя</label>
		
		<div class="col-xs-4">
			<input name="username" type="text" class="form-control" id="input-username" placeholder="Имя пользователя">
		</div>
		<label for="input-username" class="col-xs-2 form-control-static" id="status-username">
			<span></span>
		</label>
	</div>
	<div class="form-group">
		<label for="input-password1" class="col-xs-2 col-xs-offset-2 control-label">Пароль</label>
		
		<div class="col-xs-4">
			<input name="password1" type="password" class="form-control" id="input-password1" placeholder="Пароль">
		</div>
		<label for="input-password1" class="col-xs-2 form-control-static" id="status-password1">
			<span></span>
		</label>
	</div>
	<div class="form-group">
		<label for="input-password2" class="col-xs-2 col-xs-offset-2 control-label">Повторите пароль</label>
		
		<div class="col-xs-4">
			<input name="password2" type="password" class="form-control" id="input-password2" placeholder="Пароль">
		</div>
		<label for="input-password2" class="col-xs-2 form-control-static" id="status-password2">
			<span></span>
		</label>
	</div>
	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-8 text-center">
			<button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Регистрация</button>
			<div class="help-block error"></div>
		</div>
	</div>
</form>