<% if (!ajax) {layout('./layout/page')} -%>
<% block('title', user.username) -%>
<% if (!ajax) {%>
<p class="lead text-center">Страница пользователя <%- user.username -%></p>


<div class="col-xs-12 col-lg-12-v col-md-12-v col-sm-12-v col-xs-12-v">
	<div class="thumbnail thumbnail-v" style="height:100%">
		<div class="container-fluid" style="height:100%">
<% } %>
				<%- self && user._id.toString() == self._id.toString() ? partial('./partials/userInterface/uPhotoOwner') : partial('./partials/userInterface/uPhoto') -%>
<% if (!ajax) {%>		
		</div>
	</div>
</div>
<% } %>

