<% if (!ajax) {layout('./layout/page')} -%>
<% block('title', "Пользователи") %>

<p class="lead">Зарегистрированные пользователи</p>
<% for (var user in users) { %>
<div class="col-md-2 col-lg-1 col-sm-3">
<div class="row">
	<a href="/user/<%-  users[user]._id -%>" class="userIcon">
		<img src="/data/<%-  users[user]._id -%>/avatar-md.jpg" class="img-responsive">
		<div class="userIconName"><%- users[user].username %></div>
	</a>
	
</div>
</div>
<% } %>

<div class="userIcon">
</div>

<script>
</script>
