.col-xs-1-vp, .col-xs-2-vp, .col-xs-3-vp, .col-xs-4-vp, .col-xs-5-vp, .col-xs-6-vp, .col-xs-7-vp, .col-xs-8-vp, .col-xs-9-vp, .col-xs-10-vp, .col-xs-11-vp, .col-xs-12-vp {
  padding-top: 15px;
  padding-bottom: 15px;
    -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.col-xs-12-vp {
  height: 100%;
}
.col-xs-11-vp {
  height: 91.66666667%;
}
.col-xs-10-vp {
  height: 83.33333333%;
}
.col-xs-9-vp {
  height: 75%;
}
.col-xs-8-vp {
  height: 66.66666667%;
}
.col-xs-7-vp {
  height: 58.33333333%;
}
.col-xs-6-vp {
  height: 50%;
}
.col-xs-5-vp {
  height: 41.66666667%;
}
.col-xs-4-vp {
  height: 33.33333333%;
}
.col-xs-3-vp {
  height: 25%;
}
.col-xs-2-vp {
  height: 16.66666667%;
}
.col-xs-1-vp {
  height: 8.33333333%;
}

.modal-backdrop {
    z-index: 0;
}


.col-xs-1-v, .col-sm-1-v, .col-md-1-v, .col-lg-1-v, .col-xs-2-v, .col-sm-2-v, .col-md-2-v, .col-lg-2-v, .col-xs-3-v, .col-sm-3-v, .col-md-3-v, .col-lg-3-v, .col-xs-4-v, .col-sm-4-v, .col-md-4-v, .col-lg-4-v, .col-xs-5-v, .col-sm-5-v, .col-md-5-v, .col-lg-5-v, .col-xs-6-v, .col-sm-6-v, .col-md-6-v, .col-lg-6-v, .col-xs-7-v, .col-sm-7-v, .col-md-7-v, .col-lg-7-v, .col-xs-8-v, .col-sm-8-v, .col-md-8-v, .col-lg-8-v, .col-xs-9-v, .col-sm-9-v, .col-md-9-v, .col-lg-9-v, .col-xs-10-v, .col-sm-10-v, .col-md-10-v, .col-lg-10-v, .col-xs-11-v, .col-sm-11-v, .col-md-11-v, .col-lg-11-v, .col-xs-12-v, .col-sm-12-v, .col-md-12-v, .col-lg-12-v {
  padding-top: 15px;
  padding-bottom: 15px;	
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

.expanded-widget {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.col-xs-12-v {
  height: 600px;
}
.col-xs-11-v {
  height: 550px;
}
.col-xs-10-v {
  height: 500px;
}
.col-xs-9-v {
  height: 450px;
}
.col-xs-8-v {
  height: 400px;
}
.col-xs-7-v {
  height: 350px;
}
.col-xs-6-v {
  height: 300px;
}
.col-xs-5-v {
  height: 250px;
}
.col-xs-4-v {
  height: 200px;
}
.col-xs-3-v {
  height: 150px;
}
.col-xs-2-v {
  height: 100px;
}
.col-xs-1-v{
  height: 50px;
}

@media (min-width: 768px) {
  .col-sm-12-v {
    height: 720px;
  }
  .col-sm-11-v {
    height: 660px;
  }
  .col-sm-10-v {
    height: 600px;
  }
  .col-sm-9-v {
    height: 540px;
  }
  .col-sm-8-v {
    height: 480px;
  }
  .col-sm-7-v {
    height: 420px;
  }
  .col-sm-6-v {
    height: 360px;
  }
  .col-sm-5-v {
    height: 300px;
  }
  .col-sm-4-v {
    height: 240px;
  }
  .col-sm-3-v {
    height: 180px;
  }
  .col-sm-2-v {
    height: 120px;
  }
  .col-sm-1-v {
    height: 60px;
  }
}
@media (min-width: 992px) {
  .col-md-12-v {
    height: 940px;
  }
  .col-md-11-v {
    height: 861.66666667px;
  }
  .col-md-10-v {
    height: 783.33333333px;
  }
  .col-md-9-v {
    height: 705px;
  }
  .col-md-8-v {
    height: 626.66666667px;
  }
  .col-md-7-v {
    height: 548.33333333px;
  }
  .col-md-6-v {
    height: 470px;
  }
  .col-md-5-v {
    height: 391.66666667px;
  }
  .col-md-4-v {
    height: 313.33333333px;
  }
  .col-md-3-v {
    height: 235px;
  }
  .col-md-2-v {
    height: 156.66666667px;
  }
  .col-md-1-v {
    height: 78.33333333px;
  }
}
@media (min-width: 1200px) {

  .col-lg-12-v {
    height: 1140px;
  }
  .col-lg-11-v {
    height: 1045px;
  }
  .col-lg-10-v {
    height: 950px;
  }
  .col-lg-9-v {
    height: 855px;
  }
  .col-lg-8-v {
    height: 760px;
  }
  .col-lg-7-v {
    height: 665px;
  }
  .col-lg-6-v {
    height: 570px;
  }
  .col-lg-5-v {
    height: 475px;
  }
  .col-lg-4-v {
    height: 380px;
  }
  .col-lg-3-v {
    height: 285px;
  }
  .col-lg-2-v {
    height: 190px;
  }
  .col-lg-1-v {
    height: 95px;
  }
}
a.thumbnail-v{
	height:100%;
	width:100%;
	position:relative;
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
}
a.thumbnail-v:hover{
	text-decoration:none;
}

#cover {
	width:100%;
	position:fixed;
	height:100%;
	top:0px;
	left:0px;
	display:none;
	z-index:3;
	opacity:0;
	background-color: #000;
	-webkit-transition: opacity .5s ease-in-out;
			transition: opacity .5s ease-in-out;
}

#carett {
	display:none;
	position: fixed;
	z-index:4;
}

.op {
	opacity: 0;
    position: relative;
	-webkit-transition: opacity .5s ease-in-out;
			transition: opacity .5s ease-in-out;
}

input.xs {
	height: 26px;
	padding: 3px 10px;
	font-size: 12px;
	line-height:1.5;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 100% !important;
}

span.xs {
	height:26px !important;
	width:26px !important;
	top:-6px !important;
}

div.blogPost {
	width: 100%;
	overflow:hidden;
	padding: 4px;
	margin: 5px 0;
	height:auto;
	border-radius: 4px;
	background-color: #e3eafa;
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
}

textarea.blogArea {
	height:100%;
	resize: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

div.photoPrev {
	float: left;
	width: 130px;
	height: 87px;
	max-height: 87px;
	overflow: hidden;
	background-color: #dddddd;
	margin: 2px;
}

div.photoWrap {
	max-width:100%;
	text-align: center;
	width: 850px;
	position: relative;
	overflow: hidden;
	-webkit-transition: height .3s ease-in-out;
			transition: height .3s ease-in-out;
}

div.photoScrollArrow {
	background-color: transparent;
	opacity:0.3;
	position: absolute;
	height:100%;
	margin: 0;
	width: 100px;
	float:left;
	top: 0px;
	-webkit-transition: background-color .3s ease-in-out;
			transition: background-color .3s ease-in-out;
}

div.photoScrollArrow:hover  {
	background-color:grey;
}

img.fullSizeImg {
	max-width: 100%;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
}

#avatar {
	-webkit-transition: opacity .3s ease-in-out;
			transition: opacity .3s ease-in-out;
}

textarea.description{
	width: 100%;
	height: 50px;
	resize:none;
}

a.userIcon {
	position: relative;
	display:block;
    top:0px;
    left:0px;
    width: 95px;
    height:95px;
	-webkit-transition: left, right, top, bottom, .15s ease-in-out;
			transition: left, right, top, bottom, .15s ease-in-out;
}

a.userIcon:hover {
	z-index: 3;
	margin: -15px;
    width: 125px;
    height: 125px;
}

a.userIcon:hover > div {
	height: 20px;
}

div.userIconName {
	text-align:center;
	position: absolute;
	bottom:0px;
	width: 100%;
	color: white;
	background-color:black;
	height: 0px;
	opacity: 0.7;
	-webkit-transition: height .15s ease-in-out;
			transition: height .15s ease-in-out;
}

form.comment {
	height: 70px;
	width: 100%;
    position: relative;
    padding-right: 150px;
}

form.comment > textarea {
	height: 100%;
	float: left;
	width: 100%;
	resize: none;
}

form.comment > input {
	height: 100%;
	width: 135px;
	position:absolute;
	right: 0;
}

div.comment {
	width: 100%;
	float: left;
	margin: 10px 10px 0 0;
	border-bottom: 1px solid #cccccc;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0 10px 70px;

    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
div.comment > div.imageContainer {
    position: absolute;
    left: 10px;
}

div.comment > div.messageContainer {
    width: 100%;
}

div.comment > div > div {
	width: 100%;
	text-align: left;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

div.contentWrap {
    max-width:100%;
    text-align: center;
    width: 850px;
    position: relative;
    overflow: hidden;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}

div.contentScrollArrow {
    background-color: transparent;
    opacity:0.3;
    position: absolute;
    height:100%;
    margin: 0;
    width: 100px;
    float:left;
    top: 0px;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

div.contentScrollArrow:hover  {
    background-color:grey;
}

p.contentText {
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    min-height: 160px;
}

div.widgetBorder {
    width: 100%;
    height: 100%;
    padding: 4px;
    position: relative;
    border: 1px solid #DDDDDD;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #FFFFFF;
}
div.widgetBorder:hover {
    border-color: #428BCA;
}

#pseudoBody {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.avatar-sm {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    width: 100%
}

.blog-little {
    height: 3.1em;
    text-overflow: ellipsis;
    padding: 3px;
    overflow: hidden;
    word-break: normal;
}

.blog-full {
    padding: 3px;
    margin-bottom: 5px;
    position: relative;
}

.blog-full > p {
    word-break: break-word;
    word-wrap: break-word;
}

.widget-container {
    opacity: 0;
    position: relative;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#miniPhotoRoll {
    height:95%;
    overflow:hidden;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom:0;
    background-color: #ddddee ;
    text-align: center;
}

.messageRoll {
    width: 100%;
    overflow-y:auto;
    max-height: 100%;
}

.widget-dialogue {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.dialogue {
    float:left;
    width: 50%;
    margin-bottom: 15px;
    position: relative;
    height: 100px;
}
.dialogue > img {
    width: 100px;
    position: absolute;
}

.dialogue > p {
    width: 100%;
    margin: 0;
}

.dialogue-label {
    float: left;
    height: 125px;
    margin: 0 15px 0 15px;
    position: relative;
}
.dialogue-label > img {
    height: 100%;
}

.dialogue-label > p {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
    margin-bottom:0
}

.messages-label {
    position: absolute;
    top: 0;
    display: block;
    margin: 0;
}

#toolBar {
    position: fixed;
    right:0;
    top:0;
    z-index:2001;
    width: 63px;
    overflow: hidden;
}

#toolsLayer {
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    overflow: visible;
    z-index: 2000;
}

#toolsRestrictor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tool-button {
    width: 63px;
    height: 63px;
    overflow: hidden;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.tool-button > div {
    text-align: center;
}

.tool-color-grey {
    background-color: #aaaaaa;
}

.tool-color-blue {
    background-color: #009dcb;
    color: #444;
}
.tool-color-blue:hover {
    background-color: #66acda;
}
.tool-color-blue:active {
    background-color: #007c9a;
}

.tool-color-orange {
    background-color: #faa523;
    color: #444;
}
.tool-color-orange:hover {
    background-color: #ffac66;
}
.tool-color-orange:active {
    background-color: #dd7c11;
}

.tool-window {
    position: fixed;
    height: 350px;
    width: 250px;
    top: 100px;
    left: 100px;
    background-color: #edf0f5;
    box-sizing: border-box;
    -webkit-transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}
.tool-window.tool-deactivated {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
}

.tool-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    cursor: move;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
}

.tool-resize {position: absolute; z-index:2}
.tool-resize.n {top: -5px; left: 0; width: 100%; height: 7px; cursor: n-resize}
.tool-resize.ne {top: -5px; right: -5px; width: 10px; height: 10px; z-index: 3; cursor: ne-resize}
.tool-resize.e {top: 0; right: -5px; width: 7px; height: 100%; cursor: e-resize}
.tool-resize.se {bottom: -5px; right: -5px; width: 10px; height: 10px; z-index: 3; cursor: se-resize}
.tool-resize.s {bottom: -5px; left: 0; width: 100%; height: 7px; cursor: s-resize}
.tool-resize.sw {bottom: -5px; left: -5px; width: 10px; height: 10px; z-index: 3; cursor: sw-resize}
.tool-resize.w {top: 0; left: -5px; width: 7px; height: 100%; cursor: w-resize}
.tool-resize.nw {top: -5px; left: -5px; width: 10px; height: 10px; z-index: 3; cursor: nw-resize}

.tool-action {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 20px;
    text-indent: 0;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.tool-toolbar {
    position: absolute;
    z-index:2;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
}
.tool-action:hover {
    color: #ffffff
}

.tool-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tool-handler>p {
    float: left;
    font-size: 20px;
    margin: 5px 0 5px 5px;
    line-height: 20px;
    color: #ffffff
}
.tool-visitors-link {
    display: block;
    width: 100%;
    color: #2b2b2b;
    text-align: center;
    font-size: 16px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}
.tool-visitors-link:hover {
    background-color: #a4d1f3;
    text-decoration: none;
}

.tool-chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.tool-chat-form > textarea {
    width: 100%;
    height: 50px;
    border:none;
    border-top: 1px solid #cccccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    resize: none;
    outline: none;
    -moz-appearance: none;
    display: block;
    background-color: #ffffff;
}

.tool-chat-form > button {
    width: 100%;
    height: 20px;
    outline: none;
    -moz-appearance: none;
    border: none;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    line-height: 0;
}

.tool-inside {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.w-grid-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.w-grid-wrapper > table {
    width: 100%;
    height: 100%;
}

.widget-expandedContent {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 15px;
}

.w-pane {
    display: none;
    position: relative;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.w-pane-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 53px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.w-pane-header {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    text-align: center;
}

.w-pane-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px 0 15px;
}

.w-pane-content.static-scroll {
    overflow-y: scroll;
    padding: 0 0 0 15px;
}

.w-list {
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}

.w-list .w-list-item:not(:last-child) {
    border-bottom: 1px solid black
}

.w-list-item {
    height: 40px;
    box-sizing: border-box;
    position: relative;
}

.w-list-panel {
    position: absolute;
    top: 0;
    right: 0;
}

.w-list-content {
    height: 100%;
    text-align: center;
    overflow: hidden;
}