
	<div class="row" style="height:100%">
	
	<p class="text-center lead">Блог (Master)</p>
		<div class="col-xs-6 col-xs-11-vp">
			<div class="col-xs-11 col-xs-12-vp" id="blogFormCol">
				<div class="row" style="height:100%">
					<form class="form-horizontal" autocomplete="off" name="newPost" onsubmit='return false' style="height:100%">
						<div class="col-xs-12 text-center">
							
						</div>
						<textarea class="form-control blogArea" rows="2" name="message"></textarea>
					</form>
				</div>
			</div>
			<div class="col-xs-1 col-xs-12-vp" style="float:right">
				<div class="row text-right">
					<button type="submit" class="btn btn-primary" data-loading-text="<i class='glyphicon glyphicon-chevron-right'></i>" onclick="socket.emit('blog', $('textarea', document.forms['newPost']).val()); $('textarea', document.forms['newPost']).val(''); return false;"><i class="glyphicon glyphicon-ok"></i></button>
					<button class="btn btn-primary" onclick="hideElement()"><i class="glyphicon glyphicon-chevron-left"></i></button>
					<button class="btn btn-primary" onclick="showElement()"><i class="glyphicon glyphicon-chevron-right"></i></button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-xs-11-vp" style="overflow-y:auto; float:right;" id="blogRoll">
			<div class="row">
			<% for(var i = user.data.blog.length-1; i >=0 ; i--) { %>
				<div class="blogPost">
					<div class="row">
						<div class="col-xs-12">
							<p><%- user.data.blog[i].message -%></p>
						</div>
						<div class="col-xs-12">
							<em><%- user.username -%> <%- user.datify(user.data.blog[i].date) -%></em> 
						</div>
					</div>
				</div>
			<% } %>
			</div>
		</div>
	</div>