<div class="row" style="height:100%">
	<p class="text-center lead">Фотографии</p>
	<div class="col-xs-12 col-xs-11-vp" style="overflow-y:scroll; float:right;" id="photoRoll">
			<div class="row">
				<% for (var i=user.data.photo.length-1; i>-1; i--) { %>
					<div class="photoPrev" id="<%- user.data.photo[i]._id -%>" onclick="showPhoto('/user/<%- user._id -%>/photo/<%- user.data.photo[i]._id -%>')">
						<img src='<%- user.data.photo[i].link -%>prev.jpg'>
					</div>
				<% } %>
			</div>
	</div>
</div>
	
<script>

</script>
