	<p class="text-center lead">Фотографии</p>
	<div class="row">
		<div class="col-xs-12" style="height:95%; overflow:hidden" id="miniPhotoRoll">
			<% var photos = user.data.photo.slice() %>
			<% for(var i=0; i<6; i++) { %>
				<% if(photos.length == 0) break;%>
				
				<div class="col-xs-6">
				<div class="row">
					<div class="photoPrev" style="position:relative; left: 11px;">
						<img src="<%- photos.splice(Math.round(Math.random()* (photos.length-1)), 1)[0].link -%>prev.jpg">
					</div>
				</div>
				</div>
			<% } %>
		</div>
	</div>